<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<!--  mybatis 설정 -->
<configuration>
	<typeAliases>
		<typeAlias type="com.moon.app.users.UserDTO" alias="UserDTO"/>
		<typeAlias type="com.moon.app.users.UserFileDTO" alias="UserFileDTO"/>
		<typeAlias type="com.moon.app.products.ProductDTO" alias="ProductDTO"/>
		<typeAlias type="com.moon.app.boards.BoardDTO" alias="BoardDTO"/>
		<typeAlias type="com.moon.app.boards.BoardFileDTO" alias="BoardFileDTO"/>
		<typeAlias type="com.moon.app.boards.notice.NoticeDTO" alias="NoticeDTO"/>
		<typeAlias type="com.moon.app.boards.qna.QnaDTO" alias="QnaDTO"/>
		<typeAlias type="com.moon.app.pages.Pager" alias="Pager"/>
		<typeAlias type="java.util.Map" alias="Map"/>
		<typeAlias type="java.util.List" alias="List"/>
	</typeAliases>
</configuration>