<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.moon.app.accounts.AccountDAO">
	
	<insert id="add" parameterType="List">
		INSERT ALL
		<foreach item="item" collection="list" open="" separator=" " close="">
		INTO ACCOUNTS
		VALUES
		(#{item.accountNum}, #{item.userName}, #{item.productNum}, 0, SYSDATE)
		</foreach>
		SELECT * FROM DUAL
	</insert>
	
</mapper>