<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.moon.app.boards.qna.QnaDAO">
  	<select id="getList" resultType="QnaDTO">
  		SELECT * FROM 
			(SELECT ROWNUM R, M.* FROM 
				(
					SELECT * 
					FROM QNA 
					ORDER BY BOARDNUM DESC
				 ) M
			 )
		WHERE R BETWEEN #{startNum} AND #{endNum}
		ORDER BY BOARDREF DESC, BOARDSTEP ASC
  	</select>
  	<select id="count" resultType="java.lang.Long">
  		SELECT COUNT(BOARDNUM) FROM QNA
  	</select>
  	<select id="getDetail" parameterType="QnaDTO" resultMap="getDetailResult">
  		SELECT * 
  		FROM QNA Q
  			LEFT OUTER JOIN
  			QNAFILES QF
  			USING(BOARDNUM)
  		WHERE BOARDNUM=#{boardNum}
  	</select>
  	<resultMap type="QnaDTO" id="getDetailResult">
  		<id column="BOARDNUM" property="boardNum"/>
  		<result column="BOARDTITLE" property="boardTitle"/>
  		<result column="BOARDDATE" property="boardDate"/>
  		<result column="BOARDCONTENT" property="boardContent"/>
  		<result column="BOARDHIT" property="boardHit"/>
  		<result column="USERNAME" property="userName"/>
  		<result column="BOARDREF" property="boardRef"/>
  		<result column="BOARDSTEP" property="boardStep"/>
  		<result column="BOARDDEPTH" property="boardDepth"/>
  		
  		<!-- 1:N ofType="Generic type명" -->
  		<collection property="boardFileDTOs" javaType="List" ofType="BoardFileDTO">
  			<id column="FILENUM" property="fileNum"/>
  			<result column="FILENAME" property="fileName"/>
  			<result column="OLDNAME" property="oldName"/>
  		</collection>
  	</resultMap>
  	<insert id="add" parameterType="QnaDTO">
  		<selectKey order="BEFORE" keyProperty="boardNum" resultType="Long">
  			SELECT NOTICE_SEQ.NEXTVAL FROM DUAL
  		</selectKey>
  		INSERT INTO QNA 
  			(BOARDNUM, BOARDTITLE, BOARDDATE, BOARDCONTENT, BOARDHIT, USERNAME, BOARDREF, BOARDSTEP, BOARDDEPTH)
  		VALUES
  			(#{boardNum}, #{boardTitle}, sysdate, #{boardContent}, 0, #{userName}, NOTICE_SEQ.CURRVAL, 0, 0)	
  	</insert>
  	<insert id="reply" parameterType="QnaDTO">
  		INSERT INTO QNA 
  			(BOARDNUM, BOARDTITLE, BOARDDATE, BOARDCONTENT, BOARDHIT, USERNAME, BOARDREF, BOARDSTEP, BOARDDEPTH)
  		VALUES
  			(NOTICE_SEQ.NEXTVAL, #{boardTitle}, sysdate, #{boardContent}, 0, #{userName}, #{boardRef}, #{boardStep}, #{boardDepth})
  	</insert>
  	<insert id="addFile" parameterType="BoardFileDTO">
  		INSERT INTO QNAFILES
  		VALUES (FILES_SEQ.NEXTVAL, #{fileName}, #{oldName}, #{boardNum})
  	</insert>
  	<update id="updateStep" parameterType="QnaDTO">
  		UPDATE QNA SET
  			BOARDSTEP=BOARDSTEP+1
  		WHERE BOARDREF = #{boardRef} AND BOARDSTEP > #{boardStep}
  	</update>
  	<update id="update" parameterType="QnaDTO">
  		UPDATE QNA SET
  			BOARDTITLE=#{boardTitle},
  			BOARDCONTENT=#{boardContent}
  		WHERE BOARDNUM =#{boardNum}	
  	</update>
  	<delete id="delete" parameterType="QnaDTO">
  		DELETE QNA WHERE BOARDNUM =#{boardNum}
  	</delete>
  	
  	<delete id="fileDelete" parameterType="BoardFileDTO">
  		DELETE QNAFILES WHERE FILENUM=#{fileNum}
  	</delete>
  	
  	<select id="getFileDetail" resultType="BoardFileDTO" parameterType="BoardFileDTO">
  		SELECT * FROM QNAFILES WHERE FILENUM=#{fileNum}
  	</select>
  	
  	<update id="updateHit" parameterType="QnaDTO">
  		UPDATE QNA SET BOARDHIT=BOARDHIT+1
  		WHERE BOARDNUM=#{boardNum}
  	</update>
  </mapper>